<div class="container mt-4">
  <!-- Botão centralizado -->
  <div class="d-flex justify-content-center mb-4">
    <button class="btn btn-salvar" routerLink="form-lista-de-compras">
      <i class="bi bi-plus-lg"></i> Criar Lista
    </button>
  </div>

  <!-- Exibição das listas -->
  <div *ngIf="listas.length > 0; else semListas">
    <div class="d-flex flex-column gap-2">
      <div class="lista-card d-flex justify-content-between align-items-center px-3 py-2" *ngFor="let lista of listas">
        <span class="nome-lista">{{ lista.nome_lista }}</span>
        <div class="d-flex gap-2">
            <button class="btn btn-sm btn-outline-danger" [routerLink]="['/lista-de-compras/comprar-lista', lista.id]">
            <i class="bi bi-cart3"></i>
            </button>
          <button class="btn btn-sm btn-outline-primary" (click)="selecionarLista(lista)">
            <i class="bi bi-pencil"></i>
          </button>
          <button class="btn btn-sm btn-outline-danger" (click)="excluirLista(lista.id)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #semListas>
    <p class="text-muted text-center">Nenhuma lista de compras encontrada.</p>
  </ng-template>
</div>

<app-loading-overlay [show]="carregando"></app-loading-overlay>
