<div class="container mt-4">
  <!-- Botão centralizado -->
  <div class="d-flex justify-content-center mb-4">
    <button class="btn btn-salvar" (click)="adicionarProduto()"><i class="bi bi-plus-lg"></i> Criar Material</button>
  </div>

  <!-- Tabela de materiais -->
  <div class="table-responsive">
    <table class="table table-bordered text-center tabela-materiais">
      <thead class="table-cabecalho">
        <tr>
          <th>Material</th>
          <th>Preço</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produto of produtos">
          <td>{{ produto.nome }}</td>
          <td>{{ produto.preco_padrao | currency : "BRL" }}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary me-2" [routerLink]="['/materiais/editar', produto.id]">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger me-2" (click)="excluirProduto(produto.id)">
              <i class="bi bi-trash"></i>
            </button>
            <button class="btn btn-sm btn-outline-secondary">
              <i class="bi bi-eye"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
