<section>
  <table class="table">
    <thead>
      <tr>
        <th>Material</th>
        <th>Quantidade</th>
        <th>Custo</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ingrediente of ingredientes; let i = index">
        <td>{{ ingrediente.produto?.nome }}</td>
        <td>{{ ingrediente.quantidade }} {{ ingrediente.unidade }}</td>
        <td>{{ ingrediente.produto?.preco_padrao ?? 0 | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
        <td>
          <div class="d-flex gap-2">
            <button class="btn btn-sm btn-outline-primary" (click)="editarIngrediente(i)">
              <i class="bi bi-pencil-square"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="excluirIngrediente(i)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</section>
