<div class="container mt-4">

  <!-- Tabela de histórico de compras -->
  <div class="table-responsive">
    <table class="table table-bordered text-center tabela-materiais">
      <thead class="table-cabecalho">
        <tr>
          <th>ID</th>
          <th>Produto</th>
          <th>Usuário</th>
          <th>Quantidade</th>
          <th>Unidade</th>
          <th>Preço Unitário</th>
          <th>Desconto</th>
          <th>Preço Total</th>
          <th>Data da Compra</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of historico">
          <td>{{ item.id }}</td>
          <td>{{ item.produto?.nome }}</td>
          <td>{{ item.usuario?.name }}</td>
          <td>{{ item.quantidade }}</td>
          <td>{{ item.produto?.unidade_medida }}</td>
          <td>R$ {{ item.preco_unitario }}</td>
          <td>R$ {{ item.desconto }}</td>
          <td>R$ {{ item.preco_total }}</td>
          <td>{{ item.data_compra | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-loading-overlay [show]="carregando"></app-loading-overlay>
