<app-modal *ngIf="mostrarModal" [title]="'Detalhamento da Receita'" [showFooter]="false" (closeModal)="fechar()">
  <div modal-body class="modal-detalhamento-receita">
    <h5 class="text-center mb-3 fw-bold">{{ receita?.titulo }}</h5>

    <p><strong>Porcentagem de lucro:</strong> {{ receita?.lucroEsperado }}%</p>
    <p><strong>Rendimento da receita:</strong> {{ receita?.rendimento }}</p>

    <hr />

    <div class="linha-dado">
      <span>Custo dos materiais</span>
      <span>{{ calcularCustoDosMateriais | currency:'BRL' }}</span>
    </div>
    <div class="linha-dado">
      <span>Custos adicionais</span>
      <span>{{ calcularCustoAdicionais | currency:'BRL' }}</span>
    </div>
    <div class="linha-dado">
      <span>Custo por unidade</span>
      <span>{{ calcularCustoPorUnidade | currency:'BRL' }}</span>
    </div>
    <div class="linha-dado">
      <span>Custo total da receita</span>
      <span>{{ calcularCustoTotalReceita | currency:'BRL' }}</span>
    </div>
    <div class="linha-dado text-danger">
      <span>Valor sugerido de venda</span>
      <span>{{ calcularValorSugeridoVenda | currency:'BRL' }}</span>
    </div>

    <hr />

    <div class="linha-dado fw-bold fs-5 mt-3">
      <span>Lucro Total</span>
      <span class="text-dark">{{ calcularLucroTotal | currency:'BRL' }}</span>
    </div>

    <div class="text-center mt-4">
      <button class="btn btn-cancelar" (click)="fechar()">Fechar</button>
    </div>
  </div>
</app-modal>
