<div class="card h-100">
    <!-- <img [src]="produto.imagem" class="card-img-top" alt="{{ produto.nome }}"> -->
    <div class="card-body">
      <h5 class="card-title text-center">{{ produto.nome }}</h5>
      <p class="card-text"><strong>Código de Barras:</strong> {{ produto.codigoBarra }}</p>
      <p class="card-text"><strong>Unidade de Medida:</strong> {{ produto.unidadeMedida }}</p>
      <p class="card-text"><strong>Categoria:</strong> {{ produto.idCategoria }}</p>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-primary">Detalhes</button>
    </div>
  </div>