<app-modal *ngIf="mostrarModal" [title]="'Selecione um Produto'" [showFooter]="false" (closeModal)="fechar()">
  <div modal-body>
    <div class="mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar material..."
        [(ngModel)]="busca"
        (input)="filtrarMateriais()"
      />
    </div>
    <div *ngIf="materiaisFiltrados.length === 0">
      <p>Carregando materiais ou nenhum material encontrado...</p>
    </div>
    <ul *ngIf="materiaisFiltrados.length > 0" class="list-group">
      <li *ngFor="let material of materiaisFiltrados" class="list-group-item">
        <button class="btn btn-outline-primary w-100" (click)="selecionarMaterial(material)">
          {{ material.nome }} ({{ material.unidade_medida }})
        </button>
      </li>
    </ul>
  </div>
  <div modal-footer>
    <button class="btn btn-secondary" (click)="fechar()">Fechar</button>
  </div>
</app-modal>
