<div class="container mt-4">
  <!-- Botão centralizado -->
  <div class="d-flex justify-content-center mb-4">
    <button class="btn btn-salvar" routerLink="/categorias/cadastro">
      <i class="bi bi-plus-lg"></i> Nova Categoria
    </button>
  </div>

  <!-- Tabela de categorias -->
  <div class="table-responsive">
    <table class="table table-bordered text-center tabela-materiais">
      <thead class="table-cabecalho">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let categoria of categorias">
          <td>{{ categoria.id }}</td>
          <td>{{ categoria.nome }}</td>
          <td>
            <button class="btn btn-sm btn-outline-primary me-2" [routerLink]="['/categorias/editar', categoria.id]">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-sm btn-outline-danger me-2" (click)="excluirCategoria(categoria.id)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
