<app-modal *ngIf="mostrarModal" [title]="'Detalhes do Ingrediente'" [showFooter]="true" (closeModal)="fechar()">
  <div modal-body>
    <form [formGroup]="formulario">
      <div class="mb-3">
        <label for="quantidade" class="form-label">Quantidade</label>
        <input
          type="number"
          id="quantidade"
          class="form-control"
          formControlName="quantidade"
          placeholder="Digite a quantidade"
        />
      </div>
      <div class="mb-3">
        <app-unidade-medida-dropdown [control]="formulario.get('unidade_medida')"></app-unidade-medida-dropdown>
      </div>
      <div class="mb-3">
        <label for="observacao" class="form-label">Observações</label>
        <textarea
          id="observacao"
          class="form-control"
          formControlName="observacao"
          placeholder="Observações (opcional)"
        ></textarea>
      </div>
    </form>
  </div>
  <div modal-footer>
    <button class="btn btn-primary" (click)="confirmar()" [disabled]="formulario.invalid">Confirmar</button>
    <button class="btn btn-secondary" (click)="fechar()">Cancelar</button>
  </div>
</app-modal>
