<div class="container mt-4">
  <form [formGroup]="formularioCompras" (ngSubmit)="salvarLista()">
    <div class="mb-3">
      <label for="nome_lista" class="form-label">Nome da lista</label>
      <input type="text" id="nome_lista" class="form-control" formControlName="nome_lista" placeholder="Digite o nome da lista" />
      <div *ngIf="formularioCompras.get('nome_lista')?.errors && formularioCompras.get('nome_lista')?.touched" class="invalid-feedback d-block">
        <span *ngIf="formularioCompras.get('nome_lista')?.errors?.['required']"> O nome da lista é obrigatório. </span>
        <span *ngIf="formularioCompras.get('nome_lista')?.errors?.['maxLength']"> O nome da lista deve ter no máximo 30 caracteres. </span>
      </div>
    </div>

    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <textarea id="descricao" class="form-control" formControlName="descricao" rows="3" placeholder="Digite uma descrição para a lista (opcional)"></textarea>
      <div *ngIf="formularioCompras.get('descricao')?.errors && formularioCompras.get('descricao')?.touched" class="invalid-feedback d-block">
        <span *ngIf="formularioCompras.get('descricao')?.errors?.['maxLength']"> A descrição deve ter no máximo 200 caracteres. </span>
      </div>
    </div>

    <div class="d-flex justify-content-center mb-4">
      <button type="button" class="btn btn-link p-0" (click)="modal_selecao_receita.abrirModal()">
        <span class="me-1"><i class="bi bi-plus-lg"></i></span> Adicionar a partir de uma receita
      </button>
    </div>

    <h5 class="mt-4">Itens da Lista</h5>
    <div class="mb-3">
      <button type="button" class="btn btn-link p-0" (click)="modal_selecao_material.abrirModal()">
        <span class="me-1"><i class="bi bi-plus-lg"></i></span> Adicionar Material
      </button>
    </div>
    <div *ngIf="itens.length > 0" class="mb-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Observações</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itens; let i = index">
            <td>

            </td>
            <td>{{ item.produto?.nome }}</td>
            <td>
              <div class="d-flex align-items-center">
                <input
                  type="number"
                  class="form-control form-control-sm"
                  min="1"
                  style="max-width: 100px"
                  [(ngModel)]="item.quantidade"
                  [ngModelOptions]="{ standalone: true }"
                />
                <span class="ms-2">{{ item.produto?.unidade_medida }}</span>
              </div>
            </td>
            <td>
              <label class="form-label mb-0">{{ item.observacao }}</label>
            </td>
            <td>
              <button type="button" class="btn btn-danger btn-sm" (click)="removerItem(i)"><i class="bi bi-trash"></i>Remover</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="text-end">
      <button type="button" class="btn btn-secondary mx-2" (click)="cancelar()">Cancelar</button>
      <button type="submit" class="btn btn-primary">Salvar Lista</button>
    </div>
  </form>
</div>

<app-modal-selecao-material #modal_selecao_material (materialSelecionado)="onSelecionarMaterial($event)"></app-modal-selecao-material>
<app-modal-detalhes-produto #modal_detalhes_produto (confirmarDetalhes)="onConfirmarDetalhesIngrediente($event)"></app-modal-detalhes-produto>

<app-modal-selecao-receita #modal_selecao_receita (receitaSelecionada)="onSelecionarReceita($event)"></app-modal-selecao-receita>

<app-loading-overlay [show]="carregando"></app-loading-overlay>
