.tabela-materiais {
  thead th {
    background-color: #985e5b !important;
    color: white !important;
    border-color: #985e5b;
    font-weight: 600;
  }

  tbody td {
    vertical-align: middle;
  }

  .btn i {
    font-size: 1rem;
  }
}
