.overlay-loading {
  position: fixed;
  inset: 0;
  z-index: 9999;
  background: rgba(40, 40, 40, 0.25); // ofuscação baixa, mas visível
  backdrop-filter: blur(2px); // efeito glass, opcional
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
