<main class="container mt-5">
  <section class="row justify-content-center align-items-center" style="min-height: 70vh;">
    <div class="col-md-6 col-lg-5 text-center d-flex flex-column align-items-center justify-content-center">
      <img src="/assets/imagens/ChefPrice-logo-marrom.svg" alt="ChefPrice Logo" class="img-fluid mb-4" style="max-width: 220px;">
      <app-login-form (loginSubmit)="onLoginSubmit($event)"></app-login-form>
    </div>
    <div class="col-md-6 col-lg-7 d-none d-md-block p-0" style="height: 100%;">
      <img src="/assets/imagens/avatar.svg" alt="Avatar" class="img-fluid h-100" style="object-fit: cover;">
    </div>
  </section>
</main>
