/* You can add global styles to this file, and also import other style files */
@import 'custom-bootstrap';
@import 'styles/chefprice-theme';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;

  &:hover {
    background-color: darken($primary, 10%);
    border-color: darken($primary, 10%);
  }
}
