<header class="bg-light py-3">
  <nav class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link text-primary" routerLink="/receita">Receitas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" routerLink="/produtos">Produtos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" routerLink="/compras">Lista de Compras</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-primary" routerLink="/categorias">Lista de Categorias</a>
      </li>
    </ul>
  </nav>
</header>